CDC_DB_HOST=mysql
CDC_DB_PORT=3306
CDC_DB_USER=root
CDC_DB_PASSWORD=root_password
CDC_DB_NAME=cdc_db
CDC_TABLE_NAME=products
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=cdc_events
POLLING_INTERVAL=5
